

body {
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: red;
    text-align: center;
    padding: 10px;
}
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
.product {
    display: inline-block;
    margin-right: 20px; /* Optional: Add some spacing between products */
}


h2 {
    color: #d9534f; /* Red color */
}

form {
    max-width: 400px; /* Optional: Set a maximum width for the form */
    margin: 20px auto; /* Optional: Center the form on the page */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Form background color */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #d9534f; /* Red color */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #d9534f; /* Red color */
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #d9534f; /* Red color */
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c9302c; /* Darker shade of red on hover */
}

p {
    text-align: right;
    color: #777;
    margin-top: 10px;
}

a {
    color: #d9534f; /* Red color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #a52a24; /* Darker shade of red on hover */
}
.bot-message {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



.product {
    background-color: green;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 300px;
    
}

footer {
    background-color: #fff;
    color: red;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

